
.news.mod-purpur
	--color: #AC218E

.news.mod-orange
	--color: #F36F20

.news.mod-yellow
	--color: #FAA619
.news.mod-green
	--color: #4ED24D
.news.mod-greenSea
	--color: #01A3B4
.news.mod-grapes
	--color: #6950A1

.third-slider
	&.slick-slider
		margin-left: -40px
	.slick-list
		padding-bottom: 10px
	.slick-slide
		margin-left: 40px
	.news
		display: block
		width: 100%
		margin: 0

.news
	display: inline-block
	vertical-align: top
	width: calc(33.3333% - 36px)
	margin: 0 0 30px 36px
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.03);
	+r(1020)
		width: calc(50% - 36px)
	+r(768)
		width: calc(100% - 36px)

	&__pic
		position: relative
		height: 320px
		display: block
		font-size: 0
		border-bottom: 2px solid var(--color)
		overflow: hidden
		+tr(.4s)
		&:hover
			opacity: .8
	&__img
		+vcenter
		min-width: 100%
		min-height: 100%
	&__top
		margin-bottom: 10px
	&__content
		position: relative
		padding: 30px 35px
		background-color: #fff
	&__arrow
		position: absolute
		top: -23px
		right: 30px
		display: inline-block
		vertical-align: top
		width: 46px
		height: 46px
		border-radius: 100%
		background-color: var(--color)
		+tr(.4s)
		&:hover
			.news__arrow_pic
				left: 60%
		&_pic
			+vcenter
			+tr(.4s)
	&__top
		display: flex
		align-items: center
	&__link
		display: block
		margin-bottom: 20px
		&:hover
			.title__m,
			.desc__d
				color: var(--color)
				opacity: .6
	.desc__limit
		position: relative
		display: block
		height: 98px
		overflow: hidden
		text-overflow: ellipsis;
		+limitLines(4, 4, #fff, #fff, 1.6)
	.title__m
		display: block
		color: #000
		margin-bottom: 1.2em
	.title__m,
	.desc__d
		+tr(.4s)
	.title__k
		color: var(--color)


.wrap
	.news
		+r(1000)
			width: calc(50% - 36px)
		+r(768)
			width: calc(100% - 36px)