<div id="startscreen" class="section startscreen js-parent"  data-aos="fade-down"  data-aos-duration="0"  data-aos-offset="20" data-aos-delay="0" >

	<div  class="parallax" >
		<div class="parallax_fix"  style='background-image: url(static/img/content/slider.png);'></div>
	</div>

	<div class="layout layout__wide">
		<div class="startscreen__wrap">
			{{> header/header}}

			<div id="startscreen__content" class="startscreen__content"  tabindex="0">
				<h1 class="title__i" role="heading", aria-level="1">COMMUNITY HEALTH CATALYST</h1>
				<h2 class="title__t" role="heading" aria-level="2">Translational research that convenes industry and academic experts for real-world impact.</h2>
				<button class="btn btn-purpur"  tabindex="0">Research Focus Areas</button>
			</div>
		</div>


		<div class="startscreen-box" >
			<div class="section__nav section__nav_right show-1020">
				<button class="section__nav_button section__nav_prev" tabindex="0">
					<img src="static/img/general/arrow-white.svg" alt="prev" class="section__nav_img">
				</button>
				<button class="section__nav_button section__nav_next" tabindex="0">
					<img src="static/img/general/arrow-white.svg" alt="next" class="section__nav_img">
				</button>
			</div>
			<div class="startscreen-slider"  tabindex="0">
				<div class="startscreen-slider__item" tabindex="0">
					<div class="startscreen-slider__pic">
						<img src="static/img/content/1.png" alt="" class="startscreen-slider__img">
					</div>
					<div class="startscreen-slider__content">
						<h3 class="title__m" role="heading", aria-level="3">Research</h3>
						<p class="desc__m">Together, we design, implement and evaluate evidence-based studies and uncover best practices to motivate individuals to take action to improve their lives.</p>
					</div>
				</div>
				<div class="startscreen-slider__item" tabindex="0">
					<div class="startscreen-slider__pic">
						<img src="static/img/content/2.png" alt="" class="startscreen-slider__img">
					</div>
					<div class="startscreen-slider__content">
						<h3 class="title__m" role="heading", aria-level="3">Reach</h3>
						<p class="desc__m">With Centene operations in 29 states and over 12 million members, our research informs programs and services that reach our nation’s most vulnerable families and communities.</p>
					</div>
				</div>
				<div class="startscreen-slider__item" tabindex="0">
					<div class="startscreen-slider__pic">
						<img src="static/img/content/3.png" alt="" class="startscreen-slider__img">
					</div>
					<div class="startscreen-slider__content">
						<h3 class="title__m" role="heading", aria-level="3">Real World Impact</h3>
						<p class="desc__m">We are positioned to improve the effectiveness of healthcare delivery, positively influence health outcomes, and decrease healthcare costs.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
