<div id="startscreen" class="section startscreen " data-aos="fade-down"  data-aos-duration="0"  data-aos-offset="20" data-aos-delay="0" >

	<div id="parallax"  class="parallax" >
		<div class="parallax_bg "  style='background-image: url(static/img/content/slider.png);'></div>
	</div>

	<div class="layout layout__wide">
		<div class="startscreen__wrap">
			{{> header/header}}

			<div class="startscreen__content">
				<h4 class="title__i">COMMUNITY HEALTH CATALYST</h4>
				<h3 class="title__t">Translational research that convenes industry and academic experts for real-world impact.</h3>
				<button class="btn btn-purpur">Research Focus Areas</button>
			</div>
		</div>

			<div class="startscreen-slider">
				<div class="startscreen-slider__item">
					<div class="startscreen-slider__pic">
						<img src="static/img/content/1.png" alt="" class="startscreen-slider__img">
					</div>
					<div class="startscreen-slider__content">
						<h6 class="title__m">Research</h6>
						<p class="desc__m">Together, we design, implement and evaluate evidence-based studies and uncover best practices to motivate individuals to take action to improve their lives.</p>
					</div>
				</div>
				<div class="startscreen-slider__item">
					<div class="startscreen-slider__pic">
						<img src="static/img/content/2.png" alt="" class="startscreen-slider__img">
					</div>
					<div class="startscreen-slider__content">
						<h6 class="title__m">Reach</h6>
						<p class="desc__m">With Centene operations in 29 states and over 12 million members, our research informs programs and services that reach our nation’s most vulnerable families and communities.</p>
					</div>
				</div>
				<div class="startscreen-slider__item">
					<div class="startscreen-slider__pic">
						<img src="static/img/content/3.png" alt="" class="startscreen-slider__img">
					</div>
					<div class="startscreen-slider__content">
						<h6 class="title__m">Real World Impact</h6>
						<p class="desc__m">We are positioned to improve the effectiveness of healthcare delivery, positively influence health outcomes, and decrease healthcare costs.</p>
					</div>
				</div>
			</div>


	</div>
</div>
