
.startscreen
	position: relative
	display: block
	&:after
		content: ''
		+coverdiv
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) 77%, rgba(0, 0, 0, 0.8) 86%, rgba(0, 0, 0, 1) 100%)
		pointer-events: none
	&__wrap
		position: relative
		z-index: 10
	&__content
		margin-top: 30px
		padding-bottom: 80px
		+r(768)
			padding-bottom: 30px
	&__text
		margin-bottom: 40px
	.title__i
		opacity: .75
	.title__t
		// width: 64% //del in Advisory_Committee
		margin-bottom: 60px
		+r(1020)
			line-height: 1.6
		+r(768)
			width: 100%
			margin-bottom: 30px
			letter-spacing: 0

	&-box
		position: relative
		z-index: 10
	&-slider
		display: flex
		justify-content: space-between
		padding-top: 35px
		padding-bottom: 45px
		border-top: 2px solid rgba(255, 255, 255, .2)

		z-index: 10
		&__item
			display: inline-block
			vertical-align: top
			width: 31%
		&__pic
			position: relative
			display: inline-block
			vertical-align: top
			width: 106px
			height: 106px
			border-radius: 100%
			margin-right: 12px
			overflow: hidden
			+r(768)
				display: none
		&__img
			+vcenter
			min-width: 100%
			min-height: 100%
		&__content
			display: inline-block
			vertical-align: top
			width: calc(100% - 124px)
			+r(768)
				width: 100%
	.desc__m
		color: #fff
	.section__nav
		position: absolute
		top: 20px
		right: 0
		z-index: 100
	.btn
		width: 200px
		padding: 16px 24px 14px


.contentscreen
	@extend .startscreen
	// height: 620px
	&:after
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .7) )
	.title__t
		margin-bottom: 30px
	.startscreen__content
		width: 96%
		max-width: 520px
	.desc__m
		line-height: 1.9em