
*
	box-sizing: border-box
	&:after,
	&:before
		box-sizing: inherit


html
	+selection
		background: rgba(0, 0, 0, .2)
		color: #fff

html, body
	height: 100%
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased

body
	color: #000
	background-color: #fff


* html .page__wrapper
	height: 100%

a,
button
	text-decoration: none
	outline: none
	border: none
	cursor: pointer
	background-color: $n
	&:focus
		box-shadow: 0 0 20px red


h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1

h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em

b, strong
	font-weight: normal

p
	margin: 0

.page
	&-tab
		display: none
		background-color: #F7F5F6
		border-bottom: 4px solid #fff
		cursor: pointer
		+r(768)
			display: block
		&:hover
			background-color: $purpur
			.title__y
				color: #fff
			.page-tab_btn
				background: $n url(../img/general/arrow-white.svg) 50% 50% no-repeat
		&.is-active
			.page-tab_btn
				+rotate(90)
		&_btn
			display: inline-block
			vertical-align: top
			width: 24px
			height: 24px
			background: $n url(../img/general/arrow.svg) 50% 50% no-repeat
		.layout
			position: relative
			height: 80px
			width: 100%
			max-width: 100%
			display: flex
			align-items: center
			justify-content: space-between

		.title__y
			margin-bottom: 0
			font-size: 20px
			line-height: .9


.layout
	position: relative
	&__wide
		width: 1240px
		padding: 0 20px
		margin: 0 auto
		max-width: 96%
		+r(768)
			width: 100%
	&__large
		width: 930px
		padding: 0 20px
		margin: 0 auto
		max-width: 96%
		+r(768)
			width: 100%

.section
	display: block
	&__s
		position: relative
		padding: 70px 0 90px
		+r(768)
			display: none
			padding: 35px 0 40px
			&.is-active
				display: block
	&-gray
		background-color: #F7F6F6
		+r(768)
			background-color: #fff
	&__nav
		margin-left: auto
		display: flex
		align-items: center
		&_button
			padding: 4px 6px
			margin-left: 10px
		&_prev
			transform: translate3d(0, 0, 0) rotateY(180deg)
		&_right
			position: absolute
			top: 0
			right: 20px
			z-index: 3
	&-video
		background: url(../img/general/logo-bg-white-op.svg) 150% -20px no-repeat, url(../img/general/logo-bg-white-op.svg) -75% 20px no-repeat

.title
	&__t
		font-size: 50px
		color: #fff
		line-height: 1.2
		letter-spacing: -1.04px
		width: 65%
		+acr
		+r(1020)
			font-size: 32px
		+r(650)
			font-size: 20px
	&__o
		font-size: 40px
		line-height: 1.2
		color: #fff
		+acr
	&__y
		font-size: 30px
		color: #0F0F0F
		line-height: .9
		margin-bottom: 1.3em
		+acr
		+r(768)
			width: calc(100% - 90px)
	&__d
		font-size: 28px
		line-height: 1.6
		text-align: center
		color: #fff
		+ab
	&__m
		font-size: 19px
		line-height: 1.4
		color: #fff // startscreen
	&__r
		font-size: 18px
		color: $purpur
		letter-spacing: .1em
		line-height: 1.2
		margin-bottom: 2.66em
		text-transform: uppercase
		+ab
	&__e
		font-size: 16px
		color: #59616B
		margin-bottom: 2em
		+acr
		font-weight: bold
	&__i
		font-size: 14px
		letter-spacing: 1.5px
		text-transform: uppercase
		color: #fff // startscreen
		margin-bottom: 2.2em
		letter-spacing: 0.108em
		+ar
		+r(1020)
			font-size: 12px
	&__p
		font-size: 10px
		text-transform: uppercase
		line-height: 1
		letter-spacing: .1em
		margin-right: 14px
		color: var(--color)
		+ab

.desc
	&__r
		font-size: 18px
		line-height: 2.1
		color: #29333f
		+acr
	&__d
		font-size: 16px
		line-height: 1.6
		color: #565E68
		+ar
	&__m
		font-size: 14px
		line-height: 1.6
		color: #fff
		+ar

.box
	position: relative
	.section__nav_right
		+r(800)
			top: 20px

.btn
	display: inline-block
	font-weight: 400
	text-align: center
	white-space: nowrap
	vertical-align: top
	user-select: none
	border: 1px solid transparent
	padding: 16px 25px 14px
	text-transform: uppercase
	color: #fff
	font-size: 10px
	line-height: 1.5
	letter-spacing: 0.15em
	+ar
	+tr(.4s)
	&:hover
		opacity: .9
	&-purpur
		background-color: #AC218E
	&-white
		background-color: #fff
		color: $purpur

.parallax
	+coverdiv
	overflow: hidden
	&_bg
		height: 120%
		position: relative
		top: 0%
		left: 0
		width: 100%
		will-change: transform
		background-position: 50% 100%
		background-repeat: no-repeat
		background-attachment: scroll
		backface-visibility: hidden
		background-size: cover
	&_fix
		height: 100%
		position: relative
		top: 0%
		left: 0
		width: 100%
		will-change: transform
		background-position: 50% 100%
		background-repeat: no-repeat
		background-attachment: fixed
		backface-visibility: hidden
		background-size: cover

.mission
	padding: 40px 0
	background: #fff url(../img/general/logo-bg-op4.svg) 125% -125px no-repeat
	+r(768)
		text-align: center
	&__pic
		text-align: right
	&__img
		display: inline-block
		vertical-align: top
		max-width: 100%
	.layout
		display: flex
		align-items: center
		justify-content: space-between
		+r(768)
			display: block
	.col-48
		+r(768)
			width: 100%

.partners
	display: flex
	align-items: center
	justify-content: space-between
	+r(1020)
		text-align: center
	+r(768)
		padding-top: 40px
	.title__r
		margin-bottom: 0
		padding-top: 6px
	&__pictures
		width: 70%
		display: flex
		align-items: center
		justify-content: space-between
		+r(1020)
			width: 100%
			padding: 0 20px
			margin-top: 30px
			flex-wrap: wrap
	&__link
		display: inline-block
		vertical-align: top
		opacity: .8
		+tr(.4s)
		+r(1020)
			padding: 0 10px
			margin-bottom: 20px
		+r(768)
			width: 40%
			text-align: center
		&:hover
			opacity: 1
		img
			display: inline-block
			vertical-align: top
			max-width: 100%

.tag
	display: inline-block
	vertical-align: top
	padding: 4px 8px
	border-radius: 25px
	background-color: #969696
	color: #fff
	font-size: 10px
	margin-right: 8px
	letter-spacing: 0.1em
	text-transform: uppercase
	+ab
	+tr(.4s)
	&:hover
		background-color: #676262

.show-video
	*
		max-width: 100%
		height: 60vh

.assets
	position: relative
	background-color: #fff
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.03)
	padding: 90px 100px
	+r(768)
		padding: 20px 0px
	&__text
		display: inline-block
		vertical-align: top
		width: 420px
		+r(1020)
			width: 100%

	&__label
		display: inline-block
		vertical-align: top
		margin-left: 20%
		+r(1250)
			position: absolute
			top: 50%
			right: 80px
			+try(-50%)
		+r(1020)
			display: none
			position: relative
			right: auto
			left: 50%
			top: 0
			margin-left: 0
			margin-top: 30px
			+trx(-50%)

	&__footer
		margin-top: 30px
	.btn
		width: 192px
		max-width: 100%
		margin-right: 16px
		padding: 8px 25px 6px
		+r(580)
			margin-bottom: 20px
			width: 100%
	.title__o
		color: #000


.slick-disabled
	opacity: .4
	cursor: default


.mod_s
	padding: 70px 0 90px
	+r(768)
		padding: 0px 0 40px

.col-48
	width: 48%

.show-1020
	display: none
	+r(1020)
		display: block

.hide-1020
	+r(1020)
		display: none

.hide-768
	+r(768)
		display: none

.show-768
	display: none
	+r(768)
		display: block

.section-purpur
	background-color: $purpur
	.title__d
		margin-bottom: 1.8em

