
<div class="single-slider" >
	<div class="event" tabindex="0">
		<div class="event__user">
			<img src="static/img/content/event.jpg" alt="Dan Ariely picture" class="event__user_img">
		</div>
		<div class="event__content">
			<div class="event__header">
				<div class="event__info">
					<h6 class="title__p">date</h6>
					<time datetime="2018-10-05T10:00">05.10.18</time>
				</div>
				<div class="event__info">
					<h6 class="title__p">time</h6>
					<time datetime="2018-10-05T10:00">10AM - 10pm</time>
				</div>
				<div class="event__info">
					<h6 class="title__p">location</h6>
					<p class="desc__m">Centene Auditorium</p>
				</div>
				<a href="#" class="event__info event__share" title="share">
					<img src="static/img/content/icon-share.png" alt="share" class="icon-share">
				</a>
			</div>
			<div class="event__text">
				<h3 class="title__m"  role="heading" aria-level="3">Dan Ariely Presents: Why do people with diabetes (and you) make poor health choices​?</h3>
				<p class="desc__d">Dan Ariely, Envolve Center faculty director and James B. Duke Professor of Psychology and Behavioral Economics at Duke University, presented his </p>
				<button class="btn btn-purpur" aria-label="read more">REad more</button>
			</div>
		</div>
	</div>
	<div class="event" tabindex="0">
		<div class="event__user">
			<img src="static/img/content/event.jpg" alt="Dan Ariely picture" class="event__user_img">
		</div>
		<div class="event__content">
			<div class="event__header">
				<div class="event__info">
					<h6 class="title__p">date</h6>
					<time datetime="2018-10-05T10:00">05.10.18</time>
				</div>
				<div class="event__info">
					<h6 class="title__p">time</h6>
					<time datetime="2018-10-05T10:00">10AM - 10pm</time>
				</div>
				<div class="event__info">
					<h6 class="title__p">location</h6>
					<p class="desc__m">Centene Auditorium</p>
				</div>
				<a href="#" class="event__info event__share" title="share">
					<img src="static/img/content/icon-share.png" alt="share" class="icon-share">
				</a>
			</div>
			<div class="event__text">
				<h3 class="title__m"  role="heading" aria-level="3">Dan Ariely Presents: Why do people with diabetes (and you) make poor health choices​?</h3>
				<p class="desc__d">Dan Ariely, Envolve Center faculty director and James B. Duke Professor of Psychology and Behavioral Economics at Duke University, presented his research findings from a comprehensive survey conducted with 1,000 adults with type 2 diabetes. Dan discussed the factors that drive decision making and their impact on diabetes self-care behaviors and health outcomes. The 45-minute presentation was followed by a 15-minute Q&A.</p>
				<button class="btn btn-purpur">REad more</button>
			</div>
		</div>
	</div>
</div>