
<div class="section section__s is-active section-purpur section-area" >
	<div class="layout layout__wide">
		<h2 class="title__x " tabindex="0" role="heading", aria-level="2">Research Focus Areas</h2>
		<p class="desc__m">The Envolve Center engages in research across five focus areas to influence positive health outcomes and decrease healthcare costs. Find out more about our studies, initiatives, and researchers here.</p>
		<button class="btn btn-white mod-mt30	">LEARN MORE</button>
	</div>
</div>