<footer class="footer">
	<div class="parallax">
		<div class="parallax_fix"  style='background-image: url(static/img/general/footer.png);'></div>
	</div>
	<div class="layout layout__wide">
		<div class="footer__top">
			<div class="subscription">
				<h3 class="title__i" tabindex="0" role="heading", aria-level="6">Newsletter sign up</h3>
				<h2 class="title__o" tabindex="0" role="heading", aria-level="2">Stay Updated</h2>
				<form method="post" action="/" method="post" class="subscription__form"  tabindex="0">
					<div class="subscription__field">
						<input class="subscription__input" type="email" name="subscriptionMail" id="subscriptionMail" placeholder="Email Address" role="subscribe" >
						<button class="btn btn-white">sing up</button>
					</div>
				</form>
			</div>
		</div>

		<div class="footer__bottom" >
			<div class="footer__col footer__col_first">
				<a href="./" class="footer__logo" tabindex="0">
					<img src="static/img/general/logo.png" alt="Envolve center For Health Behavior Change">
				</a>
				<div class="copy">&copy; 2018 CENTENE CORPORATION</div>
				<div class="footer__col_content">
					<a href="#" class="footer__link">Terms & Conditions</a>
					<a href="#" class="footer__link">Privacy Policy</a>
					<a href="#" class="footer__link">Site Map</a>
				</div>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title"  tabindex="0" role="heading", aria-level="2" >About Us</h2>
				<a href="#" class="footer__link">History</a>
				<a href="#" class="footer__link">Vision</a>
				<a href="#" class="footer__link">Faculty</a>
				<a href="#" class="footer__link">Partners</a>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title"  tabindex="0" role="heading", aria-level="2" >Our Research</h2>
				<a href="#" class="footer__link">Lifestyle Innovations</a>
				<a href="#" class="footer__link">Behavioral Economics</a>
				<a href="#" class="footer__link">Analytics Insights</a>
				<a href="#" class="footer__link">Health Communications</a>
				<a href="#" class="footer__link">TBD</a>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title"  tabindex="0" role="heading", aria-level="2" >Learn More</h2>
				<a href="#" class="footer__link">News</a>
				<a href="#" class="footer__link">Blog</a>
				<a href="#" class="footer__link">Events</a>
				<a href="#" class="footer__link">Publications</a>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title"  tabindex="0" role="heading", aria-level="2" >Connect With Us</h2>
				<a href="#" class="footer__link">Contact Us</a>
				<a href="#" class="footer__link">Call For Proposals</a>
				<a href="#" class="footer__link">Facebook</a>
				<a href="#" class="footer__link">Twitter</a>
				<a href="#" class="footer__link">Youtube</a>
			</div>
		</div>
	</div>
</footer>