<footer class="footer" tabindex="0">
	<div class="parallax">
		<div class="parallax_fix"  style='background-image: url(static/img/general/footer.png);'></div>
	</div>
	<div class="layout layout__wide">
		<div class="footer__top">
			<div class="subscription" tabindex="0">
				<h6 class="title__i">Newsletter sign up</h6>
				<h4 class="title__o">Stay Updated</h4>
				<form method="post" action="/" class="subscription__form">
					<div class="subscription__field">
						<input class="subscription__input" type="email" name="subscriptionMail" id="subscriptionMail" placeholder="Email Address" role="subscribe" >
						<button class="btn btn-white">sing up</button>
					</div>
				</form>
			</div>
		</div>

		<div class="footer__bottom" >
			<div class="footer__col footer__col_first" tabindex="0">
				<a href="./" class="footer__logo"><img src="static/img/general/logo.png" alt="logo"></a>
				<div class="copy">&copy; 2018 CENTENE CORPORATION</div>
				<div class="footer__col_content">
					<a href="#" class="footer__link">Terms & Conditions</a>
					<a href="#" class="footer__link">Privacy Policy</a>
					<a href="#" class="footer__link">Site Map</a>
				</div>
			</div>
			<div class="footer__col"  tabindex="0">
				<h6 class="footer__title">About Us</h6>
				<a href="#" class="footer__link">History</a>
				<a href="#" class="footer__link">Vision</a>
				<a href="#" class="footer__link">Faculty</a>
				<a href="#" class="footer__link">Partners</a>
			</div>
			<div class="footer__col"  tabindex="0">
				<h6 class="footer__title">Our Research</h6>
				<a href="#" class="footer__link">Lifestyle Innovations</a>
				<a href="#" class="footer__link">Behavioral Economics</a>
				<a href="#" class="footer__link">Analytics Insights</a>
				<a href="#" class="footer__link">Health Communications</a>
				<a href="#" class="footer__link">TBD</a>
			</div>
			<div class="footer__col"  tabindex="0">
				<h6 class="footer__title">Learn More</h6>
				<a href="#" class="footer__link">News</a>
				<a href="#" class="footer__link">Blog</a>
				<a href="#" class="footer__link">Events</a>
				<a href="#" class="footer__link">Publications</a>
			</div>
			<div class="footer__col"  tabindex="0">
				<h6 class="footer__title">Connect With Us</h6>
				<a href="#" class="footer__link">Contact Us</a>
				<a href="#" class="footer__link">Call For Proposals</a>
				<a href="#" class="footer__link">Facebook</a>
				<a href="#" class="footer__link">Twitter</a>
				<a href="#" class="footer__link">Youtube</a>
			</div>
		</div>
	</div>
</footer>