<footer class="footer">
	<div class="parallax">
		<div class="parallax_fix"  style='background-image: url(static/img/general/footer.png);'></div>
	</div>
	<div class="layout layout__wide">
		<div class="footer__top">
			<div class="subscription">
				<h3 class="title__i"  role="heading" aria-level="3">Newsletter sign up</h3>
				<h2 class="title__o"  role="heading" aria-level="2">Stay Updated</h2>
				<form method="post" action="/" method="post" class="subscription__form"  >
					<div class="subscription__field">
						<input class="subscription__input" type="email" name="subscriptionMail" id="subscriptionMail" placeholder="Email Address" role="subscribe"  tabindex="0">
						<button class="btn btn-white"  tabindex="0">sing up</button>
					</div>
				</form>
			</div>
		</div>

		<div class="footer__bottom" >
			<div class="footer__col footer__col_first">
				<a href="./" class="footer__logo" tabindex="0">
					<img src="static/img/general/logo.png" alt="Envolve center For Health Behavior Change">
				</a>
				<div class="copy">&copy; 2018 CENTENE CORPORATION</div>
				<div class="footer__col_content">
					<a href="#" class="footer__link"  tabindex="0">Terms & Conditions</a>
					<a href="#" class="footer__link"  tabindex="0">Privacy Policy</a>
					<a href="#" class="footer__link"  tabindex="0">Site Map</a>
				</div>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title"  role="heading" aria-level="2" >About Us</h2>
				<a href="#" class="footer__link"  tabindex="0">History</a>
				<a href="#" class="footer__link"  tabindex="0">Vision</a>
				<a href="#" class="footer__link"  tabindex="0">Faculty</a>
				<a href="#" class="footer__link"  tabindex="0">Partners</a>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title" role="heading" aria-level="2" >Our Research</h2>
				<a href="#" class="footer__link"  tabindex="0">Lifestyle Innovations</a>
				<a href="#" class="footer__link"  tabindex="0">Behavioral Economics</a>
				<a href="#" class="footer__link"  tabindex="0">Analytics Insights</a>
				<a href="#" class="footer__link"  tabindex="0">Health Communications</a>
				<a href="#" class="footer__link"  tabindex="0">TBD</a>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title" role="heading" aria-level="2" >Learn More</h2>
				<a href="#" class="footer__link" tabindex="0">News</a>
				<a href="#" class="footer__link" tabindex="0">Blog</a>
				<a href="#" class="footer__link" tabindex="0">Events</a>
				<a href="#" class="footer__link" tabindex="0">Publications</a>
			</div>
			<div class="footer__col" >
				<h2 class="footer__title" role="heading" aria-level="2" >Connect With Us</h2>
				<a href="#" class="footer__link"  tabindex="0">Contact Us</a>
				<a href="#" class="footer__link"  tabindex="0">Call For Proposals</a>
				<a href="#" class="footer__link"  tabindex="0">Facebook</a>
				<a href="#" class="footer__link"  tabindex="0">Twitter</a>
				<a href="#" class="footer__link"  tabindex="0">Youtube</a>
			</div>
		</div>
	</div>
</footer>