
<div class="synk-slider " tabindex="0">
	<div class="synk-slider__item" tabindex="0">
		<div class="synk-top__pic">
			<img  class="synk-top__img" src="static/img/content/1-1.png" alt="engagement">
		</div>
		<div class="synk-slider__pic">
			<img src="static/img/content/2-3.jpg" alt="pic">
		</div>
		<div class="synk-slider__content">
			<div class="synk-slider__text">
				<h3 class="title__e">Health Communications</h3>
				<p class="desc__d">Determine the most effective strategies for encouraging Medicaid recipients and their family members to participate in local evidence-based health programs.</p>
				<button class="btn btn-purpur">Read more</button>
			</div>
			<div class="synk-slider__nav"></div>
		</div>
	</div>
	<div class="synk-slider__item" tabindex="0">
		<div class="synk-top__pic">
			<img  class="synk-top__img" src="static/img/content/1-2.png" alt="health outcomes">
		</div>
		<div class="synk-slider__pic">
			<img src="static/img/content/2-3.jpg" alt="pic">
		</div>
		<div class="synk-slider__content">
			<div class="synk-slider__text">
				<h3 class="title__e">Health Communications</h3>
				<p class="desc__d">Determine the most effective strategies for encouraging Medicaid recipients and their family members to participate in local evidence-based health programs.</p>
				<button class="btn btn-purpur">Read more</button>
			</div>
			<div class="synk-slider__nav"></div>
		</div>
	</div>
	<div class="synk-slider__item" tabindex="0">
		<div class="synk-top__pic">
			<img  class="synk-top__img" src="static/img/content/1-3.png" alt="behaviors">
		</div>
		<div class="synk-slider__pic">
			<img src="static/img/content/2-3.jpg" alt="behaviors">
		</div>
		<div class="synk-slider__content">
			<div class="synk-slider__text">
				<h3 class="title__e">Health Communications</h3>
				<p class="desc__d">Determine the most effective strategies for encouraging Medicaid recipients and their family members to participate in local evidence-based health programs.</p>
				<button class="btn btn-purpur">Read more</button>
			</div>
			<div class="synk-slider__nav"></div>
		</div>
	</div>
	<div class="synk-slider__item" tabindex="0">
		<div class="synk-top__pic">
			<img  class="synk-top__img" src="static/img/content/1-4.png" alt="social determinants">
		</div>
		<div class="synk-slider__pic">
			<img src="static/img/content/2-3.jpg" alt="pic">
		</div>
		<div class="synk-slider__content">
			<div class="synk-slider__text">
				<h3 class="title__e">Health Communications</h3>
				<p class="desc__d">Determine the most effective strategies for encouraging Medicaid recipients and their family members to participate in local evidence-based health programs.</p>
				<button class="btn btn-purpur">Read more</button>
			</div>
			<div class="synk-slider__nav"></div>
		</div>
	</div>
	<div class="synk-slider__item" tabindex="0">
		<div class="synk-top__pic">
			<img  class="synk-top__img" src="static/img/content/1-5.png" alt="healthcare service delivery">
		</div>
		<div class="synk-slider__pic">
			<img src="static/img/content/2-3.jpg" alt="pic">
		</div>
		<div class="synk-slider__content">
			<div class="synk-slider__text">
				<h3 class="title__e">Health Communications</h3>
				<p class="desc__d">Determine the most effective strategies for encouraging Medicaid recipients and their family members to participate in local evidence-based health programs.</p>
				<button class="btn btn-purpur">Read more</button>
			</div>
			<div class="synk-slider__nav"></div>
		</div>
	</div>
</div>
