
.synk-slider
	margin-bottom: 100px
	margin-top: 220px
	+r(800)
		margin-top: 40px
		margin-bottom: 0px
		padding-top: 20px
		border-top: 1px solid #b1b6bc
	.slick-dots
		position: absolute
		top: -190px
		left: 0
		right: 0
		padding: 0
		display: flex
		justify-content: space-between
		+r(800)
			display: none
		img
			display: inline-block
			vertical-align: top
		li
			display: inline-block
			vertical-align: top
			+r(1120)
				max-width: 20%
		.slick-active
			.tab
				padding: 20px 40px
				border-bottom: 2px solid #F47022
				background-color: #fff
				box-shadow: 0 0 20px rgba(0, 0, 0, .4)
				// +scale(1.1)
				transform: translateY(-16%) scale(1.1)
				+r(1120)
					padding: 10px 8px
				+r(1000)
					padding: 5px 8px
				img
					+scale(1.1)
					+r(1000)
						+scale(.9)
				.synk-top__desc
					font-size: 16px
					+r(1020)
						font-size: 15px

		.tab
			display: flex
			align-items: center
			background-color: #fff
			+tr(.4s)
			img
				+r(1000)
					+scale(.8)

.synk
	&-top
		&__pic
			display: none
		&__img
			max-width: 100%
			max-height: 100%
			margin-right: 16px
			+r(1120)
				margin-right: 10px
		&__desc
			font-size: 16px
			text-align: left
			background-color: #fff
			+r(1120)
				font-size: 14px

	&-slider
		&__item
			display: flex!important
			+r(768)
				display: block!important
		&__pic
			margin-right: 6%
			font-size: 0
			+r(768)
				display: none
		&__content
			display: inline-block
			vertical-align: top
			width: 36%
			+r(768)
				width: calc(100% - 80px)
			.btn
				margin-top: 40px
				width: 150px

.slick-current
	.synk-top__pic
		background-color: #fff
		box-shadow: 0 0 4px rgba(0, 0, 0, .6)
		border-bottom: 2px solid #f47022
	.synk-top__img
		transform: translate3d(0, 0, 0) scale(1.2)
		margin-right: 16px



