<div class="navigate">
	<ul class="navigate__list">
		<li class="navigate__item mod-purpur">
			<a href="#" class="navigate__link">MEET THE TEAM</a>
		</li>
		<li class="navigate__item mod-orange">
			<a href="#" class="navigate__link">Advisory Committee</a>
		</li>
		<li class="navigate__item mod-yellow">
			<a href="#" class="navigate__link">Annual Reports </a>
		</li>
		<li class="navigate__item mod-green">
			<a href="#" class="navigate__link">ABOUT US</a>
		</li>
	</ul>
</div>

<div class="aside-content">
	<h3 class="title__i text-purpur">Vision</h3>
	<p class="desc__r">By design, the Center is distinctive in structure and propelled by a lifecycle that is an informed collaboration. Our researchers are experts and our work is in real world settings with a focus on issues that allow individuals to lead healthy, productive lives. We accelerate solutions by collapsing the supply chain, giving us intentional work with intentional results.</p>
</div>
<div class="aside-content">
	<h3 class="title__i text-purpur">MISSION STATEMENT</h3>
	<p class="desc__r">The Center is a Community-Industry-Academic Healthcare Partnership that advances life-centric health solutions to improve lives so that communities can thrive.</p>
</div>
