
<div id="startscreen" class="section contentscreen js-parent" tabindex="0" data-aos="fade-down"  data-aos-duration="0"  data-aos-offset="20" data-aos-delay="0" >

	<div  class="parallax" >
		<div class="parallax_fix"  style='background-image: url(static/img/content/{{parallax}});'></div>
	</div>

	<div class="layout layout__wide">
		<div class="startscreen__wrap">
			{{> header/header}}
			<div id="startscreen__content" class="startscreen__content"  tabindex="0">
				<div class="startscreen__text">
					<h2 class="title__t" role="heading", aria-level="2">{{title}}</h2>
					{{#if desc}}<p class="desc__m">{{desc}}</p>{{/if}}
				</div>
				<button class="btn btn-purpur"  tabindex="0">{{btn}}</button>
			</div>
		</div>
	</div>
</div>